html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#input_div {
 display: block;
 height: fit-content;
 width: 80vw;
 position: absolute;
 top:30vh;
 left: 10vw;
}

input, input:focus {
  border: none;
  border-bottom: 2px solid rgb(81, 81, 81);
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}

#city {
  text-transform: uppercase;
    font-size: 10vw;
    line-height: 0.8;
    text-align: center;
    padding: 10px 5px;
}