* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;}

html,
body, p {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* #input_div {
} */

input {
  display: block;
  text-transform: uppercase;
  font-size: 10vw;
  line-height: 0.8;
  text-align: center;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid rgb(132, 132, 132);
  color: rgba(37, 37, 37, 1);
  background-color: rgba(255, 255, 255, 0);
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
}

input::-webkit-input-placeholder {
  transition: 0.3s color;
}

input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: rgba(37, 37, 37, 1);
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#submit {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.fa-solid {
  display: block;
  font-size: 3vw;
  text-align: center;
}

#info {
  border: none;
  color: rgba(37, 37, 37, 0.5);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s color;
  
  position: absolute;
  top: 5%;
  left: 92%;
}

#info:hover {
  color: rgba(37, 37, 37, 1);
}

.hide {
  display: none;
}

#info:hover + .hide {
  display: block;
  position: absolute;
  top: 12%;
  left: 90%;
  padding: 5px;
  background-color: rgba(37, 37, 37, 0.5);
  border-radius: 8px;
  color: white;
  width: 100px;

}